<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.urbanpiper.upsdk">
    <application>
        <provider
                android:authorities="${applicationId}.UPClientContextProvider"
                android:exported="false"
                android:enabled="true"
                android:name=".commons.UPClientContextProvider"/>
    </application>
</manifest>